{% extends 'website/base.html' %}

{% block title %}
Jass Carpets
{% endblock %}

{% block content %}

{% include 'website/sections/hero.html' %}

{% include 'website/sections/categories.html' %}
{% include 'website/sections/products.html' %}

{% include 'website/sections/bestsellers.html' %}

{% include 'website/sections/offer.html' %}

{% include 'website/sections/arrivals.html' %}

{% include 'website/sections/trust.html' %}

{% include 'website/sections/reviews.html' %}

{% include 'website/sections/newsletter.html' %}

{% endblock %}